<header class="header">
    <div class="logo">
        <img src="../assets/Pokebola-pokeball-png-0.png">
    </div>
    <nav>
        <ul class="nav-links">
            <li><button mat-raised-button color="warn" (click)="rutaHome()">Home</button></li>
            <li><button mat-raised-button color="warn" (click)="rutaTabla()">Más Pokemones</button></li>
            <li><button mat-raised-button color="warn" href="#">Star Wars</button></li>
            <li><button mat-raised-button color="warn" href="#">Registro</button></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="info-restaurante">
        <div class="columna1">
        <span class="tit-pie">Restaurante</span>
        <p><strong>Email principal:</strong> yeferguzman11@gmail.com</p>
        <p><strong>Dirección principal:</strong> Cr14a #5-12</p>
        <p><strong>Teléfono celular:</strong> 3223890477</p>        
        </div>
    </div>


    <div class="info-sede">
        <div class="columna2">
        <span class="tit-pie">Sede</span>
        <p><strong>Email principal:</strong> yeferguzman11@gmail.com</p>
        <p><strong>Dirección principal:</strong> Cr14a #5-12</p>
        <p><strong>Teléfono celular:</strong> 3223890477</p>    
        </div>
    </div>

    <div class="redes-sociales">
        <a href="https://github.com/Carolina0208/angular-practica"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Carolina0208/angular-practica"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Carolina0208/angular-practica"><i class="fab fa-tiktok"></i></a>
    </div>
</footer>
