
.header{
    background-color: #52489C;;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 85px;
    padding: 5px 10%;
    align-items: center;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: 0.3s;
}

.header .logo{
    cursor: pointer;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 700;
    color: beige;
    text-decoration: none;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links li a:hover{
    color:rgb(189, 189, 148)
}

.header .btn button{
font-weight: 700;
color: rgb(67, 61, 82);
padding: 9px 25px;
background: beige;
border: none;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

.header .btn button:hover{
background-color: rgb(189, 189, 148);
color: rgb(67, 61, 82);
transform: scale(1.1);
}

footer {
    background-color: #52489C;
    padding: 30px;
    font-size: 14px;
  }
  
  .columna1 {
    width: 50%;
    float: left;
    text-align: left;

  }
  
  .columna2 {
    width: 50%;
    float: right;
    text-align: right;

  }
  
  .redes-sociales {
    text-align: center;
    margin-top: 20px;
  }
  
  .redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: #0D160B;
  }
  
  .tit-pie {
    font-size: 25px;
    font-weight: bold;    
  }
  
  /* Estilos responsive */
  @media (max-width: 767px) {
    footer {
      display: block;
    }
  
    .columna1,
    .columna2 {
      width: 100%;
    }
  
    .redes-sociales {
      margin-top: 0;
    }
  }
