    <header class="header">
        <div class="logo">
            <img src="../assets/209777739-lobo-ilustración-cómica-dibujada-a-mano-lobo-lindo-vector-ilustración-de-dibujos-animados-estilo.jpg">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Información</a></li>
                <li><a href="#">Inicio de sesión</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button>Contacto</button></a>
    </header>

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      
      <table mat-table [dataSource]="lst" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> image </th>
          <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" alt="" width="100" height="100"> </td>
        </ng-container>
      
        
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
      <mat-paginator #MatPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


    <div *ngFor="let element of data">
        <img src="{{element.image}}" alt="" width="100" height="100">
    </div>

<footer>
    <div class="info-restaurante">
        <div class="columna1">
        <span class="tit-pie">Restaurante</span>
        <p><strong>Email principal:</strong> yeferguzman11@gmail.com</p>
        <p><strong>Dirección principal:</strong> Cr14a #5-12</p>
        <p><strong>Teléfono celular:</strong> 3223890477</p>        
        </div>
    </div>


    <div class="info-sede">
        <div class="columna2">
        <span class="tit-pie">Sede</span>
        <p><strong>Email principal:</strong> yeferguzman11@gmail.com</p>
        <p><strong>Dirección principal:</strong> Cr14a #5-12</p>
        <p><strong>Teléfono celular:</strong> 3223890477</p>    
        </div>
    </div>

    <div class="redes-sociales">
        <a href="https://github.com/Carolina0208/angular-practica"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Carolina0208/angular-practica"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/Carolina0208/angular-practica"><i class="fab fa-tiktok"></i></a>
    </div>
</footer>