    
    
    
    <div class="pokemon-container">
      <mat-card class="pokemon" *ngFor="let element of data">
        <mat-card-header>
          <div mat-card-avatar class="pokemon-image">
            <img src="{{element.image2}}" alt="Pokemon Image" class="avatar-img">
          </div>
          <mat-card-title class="avatar-title">{{element.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{element.image}}" alt="Photo">
        <mat-card-content>
            <ul *ngFor="let type of element.types">
                <li>{{element.types}}</li>
            </ul>
        </mat-card-content>
        <mat-card-actions>
          <button>LIKE</button>
          <button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
